<% provide :title, 'Home' %>

<%= render partial: 'layouts/header' %>

<div class="jumbotron" id='presenter'>
  <div class="container">
    <div class="row">
    </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- jumbotron -->

<div id='about'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class='col-md-6 col-md-offset-3'>
          <ul class='list-unstyled'>
            <li><h1>SOBRE A HANDS</h1></li>
            <li><p>"Advertising for Mobile People", o nosso objetivo é sempre
            possibilitar às marcas as melhores ferramentass e serviços
            para se comunicar com o publico cada vez mais móvel, multicanal
            ,multi-telas e dificil de ser impactado.</p></li>
            <li><%= link_to 'Saiba mais', '#', class: 'btn btn-primary btn-lg top' %></li>
          </ul><!-- list-unstyled -->
        </div><!-- col-md-6 col-md-offset-3 -->
      </div><!-- col-md-12 -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- about -->

<div id='links'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <ul class='list-inline text-center breadcrumb'>
            <li><%= link_to 'Experience', '#' %></li>
            <li><%= link_to 'Inovation', '#' %></li>
            <li><%= link_to 'Aplications', '#' %></li>
            <li><%= link_to 'Mobile', '#' %></li>
         </ul><!-- list-unstyled -->
      </div><!-- col-md-12 -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- links -->

<div id='products' ng-controller='ProductController as productCtrl'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class='col-md-4 col-md-offset-4'>
            <ul class='list-unstyled text-center'>
               <li><h2>PRODUTOS</h2></li>
               <li><div class='bottom-bar'></div></li>
            </ul><!-- list-unstyled -->
         </div><!-- col-md-4 col-md-offset-4 -->

        <div class='row'>
          <div class='col-md-12' style="margin-top: 20px;">
            <div class='col-md-3 col-sm-4 col-xs-6'
               ng-repeat='product in productCtrl.products | limitTo: paginationLimit() '>
              <div class='product-block'>
                 <ul class='list-unstyled'>
                    <li><img ng-src="{{ product.logo.url }}" class='logo'></li>
                    <li><p class='text-center'>{{ product.name }}</p></li>
                 </ul><!-- list-unstyled -->
              </div><!-- panel panel-default -->
           </div><!-- col-md-3 -->
          </div><!-- row -->
        </div>

        <div ng-if="productCtrl.products.length == 0" class="col-md-12">
             <div class="well">
                <p class='text-center'>Nenhum produto encontrado.</p>
             </div><!-- well -->
        </div><!-- col-md-12 -->
      </div><!-- row -->

        <div class='col-md-12'>
          <div class='text-center'>
             <a class='btn btn-primary btn-lg top'
               ng-show="hasMoreProductsToShow()" ng-click="showMoreProducts()">
                   Carregar Mais
               </a>
          </div><!-- text-center -->
        </div><!-- col-md-12 -->
      </div><!-- col-md-4 col-md-offset-4 -->
    </div><!-- row-->
  </div><!-- container-->
</div><!-- products-->

<div id='midia'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class='list-unstyled text-center'>
          <li><%= image_tag('midia-kit.png') %></li>
          <li><h2>MIDIA KIT</h2></li>
          <li><p>Disponibilizamos para você nossa<br>
          apresentação institucional.</p></li>
          <li><%= link_to 'DOWNLOAD', '', class: 'btn btn-primary btn-lg top' %></li>
        </ul><!-- list-unstyled -->
      </div><!-- col-md-12 -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- midia -->

<div id='cases' ng-controller='CaseController as caseCtrl'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <ul class='list-unstyled text-center'>
            <li><h2>CASES</h2></li>
            <li><div class='bottom-bar'></div></li>
          </ul><!-- list-unstyled -->

          <div class="col-md-4" ng-repeat='case in caseCtrl.cases'>
            <div class="panel panel-default padding">
               <ul class='list-unstyled'>
                   <li><img ng-src="{{ case.logo.url }}" class='logo'></li>
                   <li><h2>{{ case.name }}</h2></li>
                   <li><p>{{ case.description }}</p></li>
               </ul><!-- list-unstyled -->
            </div><!-- panel panel-default -->
          </div><!-- col-md-4 -->

          <div ng-if="caseCtrl.products.length == 0" class="col-md-12">
             <div class="well">
                <p class='text-center'>Nenhum case encontrado.</p>
             </div><!-- well -->
          </div><!-- col-md-12 -->

         <div class='row'>
           <div class='col-md-12'>
             <div class='text-center'>
               <%= link_to 'VEJA MAIS CASES', '', class: 'btn btn-primary btn-lg top' %>
             </div><!-- col-md-12 -->
          </div><!-- row -->
        </div>
      </div><!-- col-md-12 -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- cases -->

<div id='anouncements'>
  <div class="container">
    <div class="row">
      <div class='col-md-12'>
        <ul class='list-unstyled text-center'>
         <li><h1>ANUNCIANTES</h1></li>
         <li><div class='bottom-bar'></div></li>
         <li><p>Sua campanha em um unico lugar.</p></li>
         <li><%= link_to 'Saiba mais', '#', class: 'btn btn-primary btn-lg top' %></li>
       </ul><!-- list-unstyled -->
     </div> <!-- col-md-12 -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- anouncements -->

<div id='publishers'>
  <div class="container">
    <div class="row">
      <div class='col-md-12'>
        <div class='col-md-4 col-md-offset-4'>
       <ul class='list-unstyled text-center'>
        <li><h1>PUBLISHERS</h1></li>
        <li><div class='bottom-bar'></div></li>
        <li><p>Somos uma rede premium.</p></li>
        <li><%= link_to 'Saiba mais', '#', class: 'btn btn-primary btn-lg top' %></li>
      </ul><!-- list-unstyled -->
    </div>
    </div><!-- col-md-12 -->
   </div><!-- row -->
 </div><!-- container -->
</div><!-- publishers -->

<div id='academy'>
  <div id='academy-presenter'></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
       <div class='col-md-6 col-md-offset-3'>
        <ul class='list-unstyled'>
         <li><h2>HANDS ACADEMY</h1></li>
         <li><p>Quer entender mais do mundo mobile? O Hands academy
         foi criado para ajudar tanto as agências e empresas e a
         entenderem a diferença do desktop e o mobile.Ou seja,
         que a estratégia de anúncio para desktop e mobile são
         totalmente diversas desde os formatos, canais até
         <li>segmentações!</p></li>
         <li><%= link_to 'Contrate aqui!', '#', class: 'btn btn-primary btn-lg top' %></li>
        <ul><!-- list-unstyled -->
       </div> <!-- col-md-6 col-md-offset-3 -->
      </div><!-- col-md-12 -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- academy -->

<div id='help'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class='list-unstyled text-center'>
          <li><%= image_tag('help.png') %></li>
          <li><p>Tire suas duvidas com a nossa<br>
          equipe especializada em mobile</p></li>
          <li><%= link_to 'Converse com a gente', '#', class: 'btn btn-primary btn-lg' %></li>
        </ul><!-- list-unstyled -->
      </div><!-- col-md-12 -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- help -->

<%= render partial: 'layouts/footer' %>
