<%= form_for([:dashboard, @user], {multipart: true}) do |form| %>

  <%= has_errors? @user %>

  <div class="field">
    <%= form.label :avatar %><br>
    <%= form.file_field :avatar %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <div class='input-group'>
    <div class='input-group-addon'><i class='glyphicon glyphicon-search'></i></div>
    <%= form.text_field :name, class: 'form-control', required: 'required',
    placeholder: 'Digite o nome', autocomplete: 'off' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :email %>
    <div class='input-group'>
    <div class='input-group-addon'><i class='glyphicon glyphicon-search'></i></div>
    <%= form.email_field :email, class: 'form-control', required: 'required',
    placeholder: 'Digite o e-mail', autocomplete: 'off' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :password %>
    <div class='input-group'>
    <div class='input-group-addon'><i class='glyphicon glyphicon-search'></i></div>
    <%= form.text_field :password, class: 'form-control', required: 'required',
    placeholder: 'Digite a senha', autocomplete: 'off' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <div class='input-group'>
    <div class='input-group-addon'><i class='glyphicon glyphicon-search'></i></div>
    <%= form.text_field :password_confirmation, class: 'form-control',
    required: 'required', placeholder: 'Confirme a senha', autocomplete: 'off' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :administrator? %><br>
    <%= form.check_box :admin %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: 'btn btn-primary btn-lg top' %>
  </div>
<% end %>
