<%= form_for([:dashboard, @case]) do |form| %>
  <% if @case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@case.errors.count, "error") %> prohibited this case from being saved:</h2>

      <ul>
      <% @case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :logo %>
    <%= form.file_field :logo %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', required: 'required',
    placeholder: 'Digite o nome', autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control', required: 'required',
    placeholder: 'Digite a descrição', autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, class: 'form-control', required: 'required',
    placeholder: 'Digite o link', autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags, class: 'form-control', required: 'required',
    placeholder:'Digite as tags', autocomplete: 'off' %>
  </div>

  <div class="actions">
    <%= form.submit nil, class: 'btn btn-primary btn-lg top' %>
  </div>
<% end %>
