<p id="notice"><%= notice %></p>

<h1>Dashboard Cases</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Logo</th>
      <th>Name</th>
      <th>Description</th>
      <th>Link</th>
      <th>Slug</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cases.each do |client| %>
      <tr>
        <td><%= client.logo %></td>
        <td><%= client.name %></td>
        <td><%= client.description %></td>
        <td><%= client.link %></td>
        <td><%= client.slug %></td>
        <td><%= client.tags %></td>
        <td><%= link_to 'Show', [:dashboard, client] %></td>
        <td><%= link_to 'Edit', edit_dashboard_case_path(client) %></td>
        <td><%= link_to 'Destroy', [:dashboard, client], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dashboard Case', new_dashboard_case_path %>
