<p id="notice"><%= notice %></p>

<h1>Dashboard Cases</h1>

<table>
  <thead>
    <tr>
      <th>Logo</th>
      <th>Name</th>
      <th>Description</th>
      <th>Link</th>
      <th>Slug</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dashboard_cases.each do |dashboard_case| %>
      <tr>
        <td><%= dashboard_case.logo %></td>
        <td><%= dashboard_case.name %></td>
        <td><%= dashboard_case.description %></td>
        <td><%= dashboard_case.link %></td>
        <td><%= dashboard_case.slug %></td>
        <td><%= dashboard_case.tags %></td>
        <td><%= link_to 'Show', dashboard_case %></td>
        <td><%= link_to 'Edit', edit_dashboard_case_path(dashboard_case) %></td>
        <td><%= link_to 'Destroy', dashboard_case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dashboard Case', new_dashboard_case_path %>
